* {
    padding: 0;
    margin: 0;
}

.bod {
    display: flex;
}

.left {
    width: 40vw;
    overflow: hidden;
    position: relative;
}

img {
    height: 100vh;
}

.text {
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    background-color: rgba(220, 220, 220, 0.506);
}

p {
    font-size: 22px;
    padding-top: 20px;
    font-weight: bold;
}

h2 {
    padding: 10px 20px;
}

form {
    height: 33vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 100px;
}

.form {
    padding: 10px 20px;
    align-items: center;
    margin-right: 40px;
}

input {
    width: 100%;
    height: 25px;
    font-size: 20px;
}

.bot {
    height: 19vh;
    background-color: rgba(220, 220, 220, 0.506);
    padding-left: 20px;
    padding-top: 30px;
    height: 23vh;
}

button {

    padding: 10px 30px;
    color: white;
    background-color: #596d48;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

.logo_place {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 100px;
    color: white;
}